* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header {
    text-align: right;
    padding: 140px 150px;
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    margin: 0px;

}

.paragraph {
    margin: 0;
}

.button {
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #fd6e0a;
    border: 0;
    border-radius: 5px;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 300px 200px 206px;
    background: url(ff.png);
}

.banner-title {
    margin-left: 50px;
}

h3 {
    font-weight: 700;
    font-size: 40px;
}

.my-plans {
    margin-top: 1px;
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;
    background: url(ff.png);
    padding: 10px 229px 5px 230px;

}

.skill-description {
    color: #737272;
}

.plans {
    margin-left: 230px;
    margin-right: 230px;
    background-image: url('../images/watch.png');
  
}

.first {
    text-align: left;
}

.second {
    text-align: left;
    color: #F15B22;
}
.contact{
    display: flex;
    gap: 200px;
    margin: 230px 300px;
    background-color: black;
}
.text{
    color: white;
}
